<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Suphra Queue System Manager</title>
  <link rel="stylesheet" href="../static/styles/bootstrap/bootstrap.css" />
  <link rel="stylesheet" href="../static/styles/Scanner.css" />
  <link rel="stylesheet" href="../static/styles/Default.css" />
</head>

<body>
  <div class="container-flex" style="background-color: black">
    <!-- HEADER -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: darkblue;color:white;">
            <p>In Progress</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="background-color:green;color:white;">
            <p>Done</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: grey;text-align: center">
        {% if value is not none %}
        <p>Options</p>
        {% else %}
        <p>Unavailable</p>
        {% endif %}
      </div>
    </div>
    <!-- /HEADER -->
    <hr />
    <!-- BODY -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 numContainer" id="InProgContainer"></div>
      <div class="col-lg-3 col-md-3 col-sm-3 numContainer" id="DoneContainer"></div>
      {% if(value is not none)%}

      <div class="col-lg-6 col-md-6 col-sm-6" id="optionsPanel">

        <div class="container parent">

          <button type="button" class="optionButtons" id="CloseCheckButton"> Move In Done </button>

        </div>

        <br />

        <!-- <div class="parent container">
          <div class="animation_btn">
            Scanner On
          </div>
          <div class="boom"></div>
        </div> -->

        <input id="userInput" type="text" style="display: none;" />

      </div>

      {% endif %}
    </div>
    <!-- /BODY -->
  </div>

  <script src="static/js/jquery/jQuery.js"></script>
  <script src="static/js/socketIO/socketIO.js"></script>
  <script src="static/js/application.js"></script>
  {% if value is not none %}
  <script src="static/js/jquery/jQueryScanner.js"></script>
  <script src="static/js/options.js"></script>
  <script src="static/js/barcodeScanner.js"></script>
  <script src="static/js/scannerBtn.js"></script>
  {% endif %}
</body>

</html>