body {
  background-color: black;
  font-size: 500%;
}

div {
  text-align: center;
}

div > p {
  color: white;
}

.check_nums {
    border-style: solid;
    border-color: white;
    font-size:200px;
    font-weight: bold;
}
.selected {
    background-color: coral;
}

#optionsPanel{
    text-align: center;
}

.optionButtons{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  background-color: white;
}